<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/favicon/manifest.json">
  <meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <title>Libreria</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-light_green.min.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <style type="text/css">
    body {
      font-family: 'Roboto';
      height: 100vh;
    }

    .demo-card-wide.mdl-card {
      display: table;
      width: 800px;
    }

    .mdl-button {
      margin-left: 10px;
    }

    .demo-card-wide {
      height: 0px;
    }

    .demo-card-wide>.mdl-card__title {
      height: 64px;
      background: #b2ff59;
    }

    .mdl-card__title-text {
      position: relative;
      top: 6px;
    }

    .demo-card-wide>.mdl-card__menu {
      color: #fff;
    }

    #mycard {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    .mdl-textfield {
      width: 350px;
      margin-right: 10px;
      font-family: 'Roboto';
    }

    .mdl-card__supporting-text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mdl3-tf {
      width: 150px;
      margin-right: 10px;
    }

    .logos {
      background: url("../assets/logo.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100px;
    }
  </style>
</head>

<body>
  <div class="logos"></div>
  <div id="mycard">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Registrarse</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <% if (message.length > 0) { %>
        <div>
          <%= message %>
        </div>
        <% } %>

        <form action="/registro" method="POST" class="needs-validation">
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="name" name="name" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
              <label class="mdl-textfield__label" for="sample3">Nombre(s)</label>
              <div class="mdl-textfield__error">Por favor ingrese su nombre</div>
            </div>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="apPaterno" name="apPaterno"
                pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
              <label class="mdl-textfield__label" for="sample3">Apellido Paterno</label>
              <span class="mdl-textfield__error">Por Favor ingrese su apellido paterno</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="apMaterno" name="apMaterno"
                pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
              <label class="mdl-textfield__label" for="sample3">Apellido Materno</label>
              <span class="mdl-textfield__error">Por Favor ingrese su apellido materno</span>
            </div>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="email" name="email">
              <label class="mdl-textfield__label" for="sample3">Correo Electrónico</label>
              <span class="mdl-textfield__error">Por Favor ingrese su correo electrónico</span>
            </div>

          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password" name="password">
              <label class="mdl-textfield__label" for="sample3">Contraseña</label>
              <span class="mdl-textfield__error">Po Favor ingrese su Contraseña</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="cpassword" name="cpassword">
              <label class="mdl-textfield__label" for="sample3">Repetir Contraseña</label>
              <span class="mdl-textfield__error">Por Favor ingrese su Contraseña</span>
            </div>
          </div>
          <div>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="tel" name="tel"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="10">
            <label class="mdl-textfield__label" for="sample3">Numero de celular</label>
            <span class="mdl-textfield__error">Po rFavor ingrese su numero de celular</span>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="calle" name="calle">
              <label class="mdl-textfield__label" for="sample3">Calle</label>
              <span class="mdl-textfield__error">Por Favor ingrese su calle</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="colonia" name="colonia">
              <label class="mdl-textfield__label" for="sample3">Colonia</label>
              <span class="mdl-textfield__error">Por Favor ingrese su colonia</span>
            </div>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl3-tf">
              <input class="mdl-textfield__input" type="number" id="cp" name="cp"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="5">
              <label class="mdl-textfield__label" for="sample3">Código Postal</label>
              <span class="mdl-textfield__error">PorFavor ingrese su codigo postal</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl3-tf">
              <input class="mdl-textfield__input" type="number" name="num" id="num"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="6">
              <label class="mdl-textfield__label" for="sample3">Num Ext</label>
              <span class="mdl-textfield__error">PorFavor ingrese el numero exterior de su casa</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-top:15px">
              <select class="mdl-textfield__input" id="Estado" name="Estado">
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Coahuila">Coahuila</option>
                <option value="Colima">Colima</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="México">México</option>
                <option value="Michoacán">Michoacán</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz">Veracruz</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
              </select>
              <label class="mdl-textfield__label" for="Estados">Estado</label>
            </div>
          </div>
          <div>
            <h6>Género</h6>
            <div>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hombre">
                <input type="radio" id="hombre" class="mdl-radio__button" name="generos" value="M" checked>
                <span class="mdl-radio__label">Hombre</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="mujer">
                <input type="radio" id="mujer" class="mdl-radio__button" name="generos" value="F">
                <span class="mdl-radio__label">Mujer</span>
              </label>
            </div>
          </div>
          <hr>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            type="submit">registrarse</button>
        </form>
      </div>
    </div>
  </div>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script>
    var form = document.querySelector('.needs-validation');
    form.addEventListener('submit', function (event) {
      var form = document.querySelector('.needs-validation');
      var ver = document.getElementsByClassName("mdl-textfield");
      var inp = document.getElementsByClassName("mdl-textfield__input");
      var er = 0;
      for (i = 0; i < inp.length; i++) {
        if (inp[i].value == "") {
          ver[i].classList.add("is-invalid");
          er++;
        }
      }
      if (er > 0) {
        event.preventDefault();
        event.stopPropagation();
      }
    })
  </script>
</body>

</html>
